<div class="row">
<div class="col-md-2">
  <div class="index-box">
	<ul>
	  <li><a href="" ng-click="showCards()">Cards</a></li>
	  <li><a href="" ng-click="showSystems()">Systems</a></li>
	  </ul>
	</div>
</div> 
<div class="col-md-10">
<div ng-show="showCardsp" ng-repeat="x in cards track by $index"><cg-card card="x"></cg-card></div>
<div ng-show="showSystemsp" ng-repeat="x in systems track by $index"><cg-system system="x" health="x.health" cards="x.capacity"></cg-system></div>
<div ng-show="showHullsp" ng-repeat="x in hulls track by $index"><cg-hull hull="x"></cg-hull></div>
</div>
</div>
