
<div class="row">
<div class="col-md-2 col-md-offset-5">
<form> 
<h2 class="h2">Please log in or register an account</h2>
        <label for="loginEmail">Email</label>
        <input class="form-control" type="email"data-ng-model="email" placeholder="yourname@email.com" required>
        <label for="loginPassword">Password</label>
        <input class="form-control" type="password" data-ng-model="password" placeholder="password" required>
<div>
<button class="btn btn-small btn-primary" data-ng-click="login()">Login</button>
<button class="btn btn-small btn-primary" data-ng-click="register()">Register</button>
</div>
</form>
<div class="alert" data-ng-show="msgp">
<p class="text-center text-warning" data-ng-bind="msg"></p>
</div>
</div>



